################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WinFormsApp4(zema 9 variant)/obj
/WinFormsApp4(zema 9 variant)/bin/Debug/net8.0-windows
